/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	/* This image will be displayed fullscreen */
		background-image: url(http://localhost/chat-bot/img/fundo_01.jpg);
		background-position: center;
	
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	
	/* The Magic */
	background-size:cover;
}

@media only screen and (max-width: 600px) {
    body {
    	z-index: 1000;
        background-color: #F9D3A0;
        background-image: none!important;
        height: 100vh!important;

    }
}




body{
	/* Workaround for some mobile browsers */
	min-height:100%;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	margin-top: -35px;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #002760;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

.logo {
    padding: 5px;
    width: 103px;
    margin: 80px 150px 4px;

}

@media only screen and (max-width: 600px) {
    .logo {
    	padding: 50px 10px 10px 10px !important;	
    	margin: 0px auto;
	   

    }
}

.chat { padding: 0px 50px;
	
}

@media only screen and (max-width: 600px) {
    .chat {
  	    padding: 10px 10px 10px 10px !important;	
    	margin: 30px auto;
	    width: 377px;
	    border-radius: 20px;
	    border-color: #ffffff;
	    border-style: solid;
	    height: 620px;
        background-color: #fff;	

    }
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	padding: 13px 0 0;
	text-align: center;
	position: absolute;
	width: 100%;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
